{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'feedback/style.css' %}" />

<h3> FEEDBACK PORTAL </h3>

<div class = "login">
  <div class = "login_div">
  <h1> LOGIN </h1>
  <form action = "{% url 'feedback:login_submit' %}" method = "post">

    {% csrf_token %}

    <input type = "hidden" name = "valid" value = "True">
    
    <input type = "text" placeholder = "login_id" name = "login_id" /> <br>
    
    <input type = "password" placeholder = "password" name = "password" /> <br>

    {% if error_message %}
    <p class = "error"> {{ error_message }} </p>
    {% endif %}
    
    <select name = "type">
      <option value = "instructor" > Instructor </option>
      <option value = "student" > Student </option>
    </select>
    
   
    <input type = "submit" value = "LOGIN" name = "submit" />
    </div>
  </form>
</div>
